<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue-demo-todolist</title>
    <script src="../js/vue.js"></script>
</head>
<body>
<div id="root">
    <input v-model="inputValue"/>
    <button @click="handleSubmit">提交</button>
    <ul>
        <todo-item v-for="(item, index) of list"
                   :key="index"
                   :content="item"
                   :index="index"
                   @delete="handleDelete"
        >
        </todo-item>
    </ul>
    {{count}} ----{{ (count + 1)*10}}
    <button @click="plus">加数字</button>
    <br>
    <a :href="url">百度</a>
    <div>{{msg}}</div>
    <div>{{msg1}}</div>
</div>
<script>
    //全局组件（也是实例）
    Vue.component("todo-item", {
        props: ["content", "index"],//父组件向子组件传递数据
        template: "<li @click='handleClick'>{{content}}</li>",
        methods: {
            handleClick: function () {
                this.$emit("delete", this.index)//子组件向父组件传递数据
            }
        }
    })
    //局部组件
    // var TodoItem = {
    //     template:"<li>item</li>>"
    // }
    var arr = "new text"//不在实例中，不影响computed变化
    //实例
    var app = new Vue({
        el: "#root",//挂载点
        // components:{
        //   "todo-item":  TodoItem
        // },
        data: {
            inputValue: "",
            list: [],
            count:0,
            url:"http://www.baidu.com",
            msg:"Hello Vue!",
            another:"another Vue!!!"
        },
        methods: {
            handleSubmit: function () {
                this.list.push(this.inputValue);
                this.inputValue = ""
            },
            handleDelete: function (index) {
                this.list.splice(index, 1)
            },
            plus:function () {
                this.count ++
            }
        },
        watch:{
            msg:function (newval, oldval) {
                console.log("newval is:" + newval);
                console.log("oldval is:" + oldval)
            }
        },
        //监听的变量在VUE实例中
        computed:{
            msg1:function () {
                return "computed:" + this.msg + "," + this.another + arr
            }
        }
    })
</script>
</body>
</html>